/.EcoreUtilJ.java._trace
/.BSharpUtil.java._trace
/.BSharpInbuiltTypeProvider.java._trace
/.BSharpInbuiltTypeProvider.xtendbin
/.BSharpUtil.xtendbin
/.EcoreUtilJ.xtendbin
/BSharpInbuiltTypeProvider.java
/BSharpUtil.java
/EcoreUtilJ.java
/.BSharpIndex.java._trace
/.BSharpVaildationUtils.java._trace
