/.BSharpRuntimeModule.java._trace
/.BSharpStandaloneSetup.java._trace
/.EcoreUtilJ.java._trace
/.BSharpRuntimeModule.xtendbin
/.BSharpStandaloneSetup.xtendbin
/.EcoreUtilJ.xtendbin
/BSharpRuntimeModule.java
/BSharpStandaloneSetup.java
/EcoreUtilJ.java
