/.BSharpScopeProvider.java._trace
/.MyDslScopeProvider.java._trace
/.BSharpScopeProvider.xtendbin
/BSharpScopeProvider.java
/.BSharpImportedNamespaceAwareLocalScopeProvider.java._trace
/.BSharpGlobalScopeProvider.java._trace
/.BSharpDeclarativeScopProvider.java._trace
/.BSharpDeclarativeScopProvider.xtendbin
/.BSharpGlobalScopeProvider.xtendbin
/BSharpDeclarativeScopProvider.java
/BSharpGlobalScopeProvider.java
/.BSharpDeclarativeScopeProvider.java._trace
/.BSharpResourceServiceProvider.java._trace
/.BSharpResourceServiceProvider.xtendbin
/BSharpResourceServiceProvider.java
/.BSharpResourceDescriptionStrategy.java._trace
